<h1 class="display-2">Foglalásaim</h1>
<div class="row">
  <div class="col">
    
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Checkin</th>
          <th scope="col">Checkout</th>
          <th scope="col">RoomId</th>
          <th scope="col">UserId</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.checkin  | date }}</td>
          <td>{{ reservation.checkout | date }}</td>
          <td>{{ reservation.room.id }}</td>
          <td>{{ reservation.user.id }}</td>
          <td><button (click)="navigateToGuestPage(reservation.id)" type="button">Vendég hozzáadása!</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

